@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "El Messiri", sans-serif;
}

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg 
      focus:border-[#1b1364] focus:ring-[#1b1364];
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-[#8061d8] text-white font-semibold rounded-lg shadow-md hover:bg-[#7653d7] focus:outline-none focus:ring-2 focus:ring-[#6944d1] focus:ring-opacity-75;
  }

  .bg-primary {
    @apply bg-[#8061d8];
  }

  .bg-secondary {
    @apply bg-[#f4f7ff];
  }

  .text-primary {
    @apply text-[#8061d8];
  }

  .border-primary {
    @apply border-[#8061d8];
  }

  .form {
    @apply flex flex-col justify-center gap-5;

    &__group {
      @apply flex flex-col;
    }
    &__label {
      @apply text-[16px] text-[#000] font-bold mr-[6px] mb-[12px] ml-[10px];
    }
  }
}

[dir="rtl"] select {
  background-position: left 0.5rem center;
}
